@{ ViewData["Title"] = "Doug's Financial Service : About Me"; }
<div class="row">
    <h1 class="col-sm-12">Doug Stentin Financial Services</h1>

    <p class="col-sm-8">
        Mr. Stentin has helped his customers grow their savings at an average of 8%.
        Doug has 35 years of investor knowledge and will walk you through step by
        step on tips to grow your money.
    </p>
    <p class="col-sm-8">
        Doug can also invest your money for you.  If you would rather have a hands
        off aproach, for a minimal charge, you can just watch your investments
        grow with no contact.
    </p>
    <img src="~/images/piggybank.jpg" alt="piggy bank" class="col-sm-6 rounded-circle" />
</div>
