@{ ViewData["Title"] = "Doug's Financial Service "; }
<article>
    <h2>Doug Stentin Financial Services</h2>

    <p style="width:45%;">
        Mr. Stentin has helped his customers grow their savings at an average of 8%.
        Doug has 35 years of investor knowledge and will walk you through step by 
        step on tips to grow your money.
    </p>
    <p style="width:45%;">
        Doug can also invest your money for you.  If you would rather have a hands
        off aproach, for a minimal charge, you can just watch your investments
        grow with no contact.
    </p>
</article>
<img src="~/images/piggybank.jpg" alt="piggy bank" style="border-radius:20px; width:45%;" />