@{
    ViewData["Title"] = "Doug's Financial Services";
}
<h2>Doug's Financial Services</h2>
<h3>I will make your money grow</h3>

<address>
    4523 Washington Ave<br />
    Paradise, MI 49768<br />
    <abbr title="Phone">P:</abbr>
    800.MONEYUP
</address>

<address>
    <strong>Financial Inquiries:</strong> <a href="mailto:doug@dougsfinancial.com">doug@dougsfinancial.com</a><br />
    <strong>Tech Support:</strong> <a href="mailto:dougstechteam@dougsfinancial.com">dougstechteam@dougsfinancial.com</a>
</address>
<img src="~/images/piggybank.jpg" alt="piggy bank" style="border-radius:20px; width:45%;" />